<%-include('../cabecalho.ejs')%>
<h1>Editar Categoria</h1>
<div>
<a href="/categoria/lst">Listar</a>
</div>
<div>
    <form  method="post">
       
        <input type="hidden" name="id" 
        value="<%=Categoria.id%>"><br>

        <label>Nome:</label>
        <input type="text" name="nome" 
        value="<%=Categoria.nome%>"><br>

        <label>Descrição:</label>
        <input type="text" name="descricao"
        value="<%=Categoria.descricao%>"
        ><br>

        <button type="submit">Cadastrar</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>